In [7]:
#importing the file and read it but this method will only displays the first some and last some records
import pandas as pd
df=pd.read_csv('Market.csv')
print(df)

       Index        Date         Open         High          Low        Close  \
0        NYA  12/31/1965   528.690002   528.690002   528.690002   528.690002
1        NYA    1/3/1966   527.210022   527.210022   527.210022   527.210022
2        NYA    1/4/1966   527.840027   527.840027   527.840027   527.840027
3        NYA    1/5/1966   531.119995   531.119995   531.119995   531.119995
4        NYA    1/6/1966   532.070007   532.070007   532.070007   532.070007
...      ...         ...          ...          ...          ...          ...
112452  N100   5/27/2021  1241.119995  1251.910034  1241.119995  1247.069946
112453  N100   5/28/2021  1249.469971  1259.209961  1249.030029  1256.599976
112454  N100   5/31/2021  1256.079956  1258.880005  1248.140015  1248.930054
112455  N100    6/1/2021  1254.609985  1265.660034  1254.609985  1258.579956
112456  N100    6/2/2021  1258.489990  1263.709961  1258.239990  1263.619995

          Adj Close       Volume
0        528.690002          0.0
1        527.210022          0.0
2        527.840027          0.0
3        531.119995          0.0
4        532.070007          0.0
...             ...          ...
112452  1247.069946  379696400.0
112453  1256.599976  160773400.0
112454  1248.930054   91173700.0
112455  1258.579956  155179900.0
112456  1263.619995  148465000.0

[112457 rows x 8 columns]

In [8]:
#to display all the records
print(df.to_string())

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [9]:
#to display first 5 records
print(df.head(5))

  Index        Date        Open        High         Low       Close  \
0   NYA  12/31/1965  528.690002  528.690002  528.690002  528.690002
1   NYA    1/3/1966  527.210022  527.210022  527.210022  527.210022
2   NYA    1/4/1966  527.840027  527.840027  527.840027  527.840027
3   NYA    1/5/1966  531.119995  531.119995  531.119995  531.119995
4   NYA    1/6/1966  532.070007  532.070007  532.070007  532.070007

    Adj Close  Volume
0  528.690002     0.0
1  527.210022     0.0
2  527.840027     0.0
3  531.119995     0.0
4  532.070007     0.0

In [10]:
#to display last 10 records
print(df.tail(10))

       Index       Date         Open         High          Low        Close  \
112447  N100  5/20/2021  1221.780029  1232.319946  1216.300049  1232.280029
112448  N100  5/21/2021  1234.920044  1242.760010  1232.290039  1238.920044
112449  N100  5/24/2021  1240.650024  1244.010010  1238.459961  1243.900024
112450  N100  5/25/2021  1247.650024  1249.339966  1243.670044  1243.739990
112451  N100  5/26/2021  1247.119995  1248.640015  1241.199951  1243.420044
112452  N100  5/27/2021  1241.119995  1251.910034  1241.119995  1247.069946
112453  N100  5/28/2021  1249.469971  1259.209961  1249.030029  1256.599976
112454  N100  5/31/2021  1256.079956  1258.880005  1248.140015  1248.930054
112455  N100   6/1/2021  1254.609985  1265.660034  1254.609985  1258.579956
112456  N100   6/2/2021  1258.489990  1263.709961  1258.239990  1263.619995

          Adj Close       Volume
112447  1232.280029  157211900.0
112448  1238.920044  182668200.0
112449  1243.900024   85213100.0
112450  1243.739990  150195900.0
112451  1243.420044  161202400.0
112452  1247.069946  379696400.0
112453  1256.599976  160773400.0
112454  1248.930054   91173700.0
112455  1258.579956  155179900.0
112456  1263.619995  148465000.0

In [11]:
#to display number of columns and number of rows
print(df.shape)

(112457, 8)

In [13]:
#to display how many NaN values in given data that means missing values
print(df.isnull())

        Index   Date   Open   High    Low  Close  Adj Close  Volume
0       False  False  False  False  False  False      False   False
1       False  False  False  False  False  False      False   False
2       False  False  False  False  False  False      False   False
3       False  False  False  False  False  False      False   False
4       False  False  False  False  False  False      False   False
...       ...    ...    ...    ...    ...    ...        ...     ...
112452  False  False  False  False  False  False      False   False
112453  False  False  False  False  False  False      False   False
112454  False  False  False  False  False  False      False   False
112455  False  False  False  False  False  False      False   False
112456  False  False  False  False  False  False      False   False

[112457 rows x 8 columns]

In [14]:
#to display total count of that NaN values
print(df.isnull().sum())

Index           0
Date            0
Open         2204
High         2205
Low          2206
Close        2207
Adj Close    2213
Volume       2204
dtype: int64

In [15]:
#to fill the NaN values
print(df.fillna("Happy"))

       Index        Date         Open         High          Low        Close  \
0        NYA  12/31/1965   528.690002   528.690002   528.690002   528.690002
1        NYA    1/3/1966   527.210022   527.210022   527.210022   527.210022
2        NYA    1/4/1966   527.840027   527.840027   527.840027   527.840027
3        NYA    1/5/1966   531.119995   531.119995   531.119995   531.119995
4        NYA    1/6/1966   532.070007   532.070007   532.070007   532.070007
...      ...         ...          ...          ...          ...          ...
112452  N100   5/27/2021  1241.119995  1251.910034  1241.119995  1247.069946
112453  N100   5/28/2021  1249.469971  1259.209961  1249.030029  1256.599976
112454  N100   5/31/2021  1256.079956  1258.880005  1248.140015  1248.930054
112455  N100    6/1/2021  1254.609985  1265.660034  1254.609985  1258.579956
112456  N100    6/2/2021   1258.48999  1263.709961   1258.23999  1263.619995

          Adj Close       Volume
0        528.690002          0.0
1        527.210022          0.0
2        527.840027          0.0
3        531.119995          0.0
4        532.070007          0.0
...             ...          ...
112452  1247.069946  379696400.0
112453  1256.599976  160773400.0
112454  1248.930054   91173700.0
112455  1258.579956  155179900.0
112456  1263.619995  148465000.0

[112457 rows x 8 columns]